@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-primary: #277bf1;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101722;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101722;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

/* Custom Design Utilities */
.glass {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar-active {
  background-color: var(--color-primary);
  color: white;
}
